   body { 
	font-family: "Downcome", sans-serif;
	background-color: #d2b86a;
	top: 120px;
	-moz-animation-name: skyAnimation;
	-moz-animation-duration:  100s;
	}
	
	#RightBar{
	position: absolute;
	top: 0px;
	margin-left: 1280px;
	background-color: #fff;
	height: 3600px;
	width: 100%;
	float: right;
	}  
  p{
	margin-left: 10px;
  }
  
  #BottomBar{
	position: absolute;
	margin-top: 600px;
	left: 0px;
	background-color: #fff;
	width: 100%;
	height: 3000px;
	}
	
  h1 {
	background-color: #0B1E38;
	color: #fff;
	font-family: 'Downcome', sans-serif; 
	font-size: 128px;
	text-align: center;
	position:absolute;
  }  

    @font-face {
      font-family: "Downcome";
      src: url("Fonts\\DOWNCOME.ttf");
    }
 
/* OBJECTS ----------------------------------------------*/

  #hillTankExplosion{
    position: absolute;
	-moz-animation-duration: 100s;
	-moz-animation-name: hillTankExplosion;
	-moz-transform: translate(500px,20px);
	opacity:0;
  }
     #abrams{
	position: absolute;
	top: 300px;
	-moz-animation-duration: 100s;
    -moz-animation-name: tankRoll;
	-moz-transform: translate(300px);
  }
   #smokeFromAirplanes{
	position:absolute;	
	top: 360px;
	left: 175px;
	opacity: 0;
	-moz-animation-name: SmokeFromAirplanes;
	-moz-animation-duration: 100s;	
   }
   #smokeFromHillTank{
    position:absolute;	
	opacity: 0;
	-moz-animation-name: smokeFromHillTank;
	-moz-animation-duration: 100s;	
	-moz-transform: translate(-100px,20px);	
   }
     #mushroomCloud{
    position:absolute;	
	opacity: 0;
	-moz-animation-name: mushroomCloud;
	-moz-animation-duration: 100s;	
   }
   #blownTankGround{
       position: absolute;
	-moz-animation-name: blownTankGround;
	-moz-animation-duration: 100s;
   }
   
     #soldierWalkie{
    position: absolute;
	-moz-animation-name: soldierWalkie;
	-moz-animation-duration: 100s;
	-moz-transform: translateX(-500px);
  }
  
  #soldierWalkieRun{
      position: absolute;
	-moz-animation-name: soldierWalkieRun;
	-moz-animation-duration: 100s;
  }
  #jets{
    position: absolute;
	-moz-animation-duration: 100s;
    -moz-animation-name: jetsFlyOverhead;
	-moz-transform: translate(1600px, -300px);
  }

  #fighteroverhead{
      position: absolute;
	-moz-animation-duration: 100s;
    -moz-animation-name: fighterOverhead;
  }
    #droppedBomb{
      position: absolute;
	-moz-animation-duration: 100s;
    -moz-animation-name: droppedBomb;
  }
  #smokeFromTankBlast{
    position: absolute;
	-moz-animation-duration: 100s;
    -moz-animation-name: smokeFromTankBlast;
  }
   #tankLeft{
    position: absolute;
	-moz-animation-name: tankLeft;
	-moz-animation-duration: 100s;
  }
  #tankFade{
    position: absolute;
	-moz-animation-name: tankFade;
	-moz-animation-duration: 100s;
  }
  #buildings{
    position: absolute;
	top: 290px;
	-moz-animation-name: BackDrop;
	-moz-animation-duration: 100s;
	-moz-transform: translate(100px,50px);
  }
    #hillTank{
    position: absolute;
	top: 0px;
	-moz-animation-name: hillTankClimb;
	-moz-animation-duration: 100s;
	-moz-transform: translate(400px,20px);
  }
  #ground{
    position: absolute;
	width: 100%;
	top: 470px;
    -moz-animation-name: Ground;
	-moz-animation-duration: 100s;
  }
  #cityTopView{
    position: absolute;
    -moz-animation-name: cityTopView;
	-moz-animation-duration: 100s;
  }
  #tankGround{
    position: absolute;
	width: 100%;
	top: 470px;
    -moz-animation-name: tankGround;
	-moz-animation-duration: 100s;
	-moz-transform: translate(-100px,-175px);
  }
  #runningGround{
    position: absolute;
    -moz-animation-name: runningGround;
	-moz-animation-duration: 100s;
  }
  #runningBackdrop{
    position: absolute;
    -moz-animation-name: runningBackdrop;
	-moz-animation-duration: 100s;
  }
  
  /* ANIMATIONS ----------------------------------------------*/
  
  @-moz-keyframes skyAnimation{
	from{ background-color: #BDDBED;}
	2%{background-color:#d2b86a;	}
	to{background-color:#d2b86a;	}
  }
  
   @-moz-keyframes BackDrop {
	from{-moz-transform: translateX(0px); opacity:0;}
	2%{-moz-transform: translateX(0px);opacity:1;}
	3.75%{-moz-transform: translateX(0px);opacity:1;}
	4%{-moz-transform: translate(100px,50px);opacity:1;}
	13%{-moz-transform: translate(100px,50px);opacity:1;}
	13.99%{-moz-transform: translate(100px,50px);opacity:1;}
	14%{-moz-transform: translate(100px,50px);opacity:0;}
	25%{-moz-transform: translate(140px,50px);opacity:0;}
	to{-moz-transform: translate(100px,50px);opacity:0;}
  }
  
   @-moz-keyframes Ground {
	from{-moz-transform: translateX(0px); opacity:1;}
	11.99%{-moz-transform: translateX(0px);opacity:1;}
	12%{-moz-transform: translateX(0px);opacity:0;}
	20%{-moz-transform: translateX(0px);opacity:0;}
	to{-moz-transform: translateX(0px);opacity:0;}
  }
  
   @-moz-keyframes jetsFlyOverhead {
	from{-moz-transform: translate(-2000px,100px);}
	5%{-moz-transform: translate(1200px,100px) scale(0.2);}
	to{-moz-transform: translate(1200px,100px);}
  }
  
  @-moz-keyframes SmokeFromAirplanes {
	from{-moz-transform: scale(0); opacity: 0;}
	2%{-moz-transform: scale(0); opacity: 0;}
	4%{-moz-transform: scale(15);opacity: 1;}
	7%{-moz-transform: scale(15);opacity: 0;}
	to{ -moz-transform: scale(15);	opacity: 0;}
  }
    @-moz-keyframes soldierWalkie {
	from{-moz-transform: translate(-500px,320px);}
	4%{-moz-transform: translate(-500px,320px);}
	6%{-moz-transform: translate(0px,320px);}
	7%{-moz-transform: translate(0px,320px);}
	9%{-moz-transform: translate(-500px,500px);}
	to{ -moz-transform: translate(-500px,500px);}
  }
     @-moz-keyframes soldierWalkieRun {
	from{-moz-transform: translate(-500px,320px);}
	12%{-moz-transform: translate(-400px,100px); opacity: 0;}
	12.01%{-moz-transform: translate(400px, 100px); opacity: 1;}
	13.99%{-moz-transform: translate(520px, 100px); opacity:1;}
	14%{-moz-transform: translate(520px, 100px);opacity:0;}
	to{ -moz-transform: translate(-520px, 100px);opacity:0;}
  }
  
  @-moz-keyframes runningGround{
	from{-moz-transform: translate(0px, 470px); opacity:0;}
	12%{-moz-transform: translate(0px, 470px);opacity:0;}
	12.01%{-moz-transform: translate(-800px, 470px);opacity:1;}
	14.24%{-moz-transform: translate(-200px,470px);opacity:1;}
	14.25%{-moz-transform: translate(-500px,470px);opacity:0;}
	25%{-moz-transform: translate(-500px,470px);opacity:0;}
	to{-moz-transform: translate(-500px, 470px);opacity:0;}
  }
  
    @-moz-keyframes runningBackdrop{
  	from{-moz-transform: translate(0px, -590px); opacity:0;}
	12%{-moz-transform: translate(0px, 0px);opacity:0;}
	12.01%{-moz-transform: translate(-800px, -590px);opacity:1;}
	14.24%{-moz-transform: translate(-300px, -590px);opacity:1;}
	14.25%{-moz-transform: translate(-500px,0px);opacity:0;}
	25%{-moz-transform: translate(-500px,0px);opacity:0;}
	to{-moz-transform: translate(-500px, 0px);opacity:0;}
	}
	
     @-moz-keyframes tankGround{
	from{-moz-transform: translateY(1000px); opacity:0;}
	3%{-moz-transform: translateY(1000px);opacity:1;}
	5%{-moz-transform: translate(-100px,-175px);opacity:1;}
	11.99%{-moz-transform: translate(-100px,-175px);opacity:1;}
	12%{-moz-transform: translate(-100px,-175px);opacity:0;}
	to{-moz-transform: translate(-100px,-175px);opacity:0;}
  }
  
   @-moz-keyframes hillTankClimb{
	from{-moz-transform: translateX(0px); opacity:0;}
	3%{-moz-transform: translate(1500px,2000px);opacity:0;}
	4%{-moz-transform: translate(1500px,2000px);opacity:1;}
	11%{-moz-transform: translate(400px,20px);opacity:1;}
	11.1%{-moz-transform: translate(400px,20px);opacity:0;}
	to{-moz-transform: translate(400px,20px);opacity:0;}
  }

    @-moz-keyframes  smokeFromHillTank {
	from{opacity:0;}
	10%{opacity:0;-moz-transform:translateX(2000px) scale(0);}
	10.1%{opacity:0;-moz-transform:translateX(2000px) scale(0);}
	12%{-moz-transform: translateX(200px) scale(20); opacity:1; }
	14%{opacity:0; }
	to{opacity:0;-moz-transform: scale(20);}
  }
  @-moz-keyframes tankFade{
  	from{opacity:0;}
	9%{opacity:0;-moz-transform:translate(1660px, -270px) scale(1);}
	9.01%{opacity:1;-moz-transform:translate(1260px, -270px) scale(1);}
	12%{opacity:1;-moz-transform:translate(-1280px, -270px) scale(1);}
	12.01%{-moz-transform: translate(-2000px, -2000px) scale(0); opacity:0;}
	to{opacity:0;-moz-transform: scale(0);}
  }
  
   @-moz-keyframes fighterOverhead {
	from{opacity:0;}
	13.999%{-moz-transform: translate(1000px, 700px); opacity:0;}
	14%{-moz-transform: translate(1000px, 700px); opacity:1;}
	16%{-moz-transform: translate(400px, 100px); opacity:1;}
	20%{-moz-transform: translate(-1000px, -1300px); opacity:1;}
	26%{-moz-transform: translate(-1000px, -1300px) ; opacity:0;}
	to{opacity:0;}
  }
   @-moz-keyframes cityTopView {
	from{opacity:0;}
	13.999%{-moz-transform: translate(-300px, -300px); opacity:0;}
	14%{-moz-transform: translate(-600px, -600px); opacity:1;}
	16.5%{-moz-transform: translate(0px, 0px); opacity:1;}
	19%{-moz-transform: translate(50px, 50px) scale(5) ; opacity:0;}
	to{opacity:0;}
  }
  
     @-moz-keyframes droppedBomb {
	from{opacity:0;}
	16%{-moz-transform: translate(600px, 300px) scale(1); opacity: 0;}
	16.001%{-moz-transform: translate(600px, 300px) scale(1); opacity: 1;}
	19%{-moz-transform: translate(570px, 400px) scale(0.05); opacity: 1;}
	19.01%{-moz-transform: scale(0); opacity: 0;}
	to{opacity:0;}
  } 

    @-moz-keyframes mushroomCloud {
	from{opacity: 0;}
	19%{-moz-transform: translate(120px, -100px) scale(0); opacity: 0;}
	19.87%{-moz-transform: translate(120px, -300px) scale(0.6); opacity: 1;}
	20.5%{-moz-transform: translate(120px, -500px) scale(1); opacity: 0;}
	20.51%{-moz-transform: translate(-120px, -500px) scale(0); opacity: 0;}
	to{opacity: 0;}
	}
	
      @-moz-keyframes smokeFromTankBlast {
	from{opacity: 0;}
	20%{-moz-transform: translate(600px, 300px) scale(1); opacity: 0;}
	21%{-moz-transform: translate(600px, 300px) scale(15); opacity: 1;}
	21.5%{-moz-transform: translate(600px, 300px) scale(20); opacity: 0;}
	to{opacity: 0;}
	}
	
    @-moz-keyframes tankLeft {
	from{opacity: 0;}
	18%{-moz-transform: translate(500px, 800px); opacity:0;}
	18.01%{-moz-transform: translate(500px, 800px); opacity:1;}
	19%{-moz-transform: translate(490px, 400px); opacity:1;}
	19.5%{-moz-transform: translate(490px, 400px); opacity:1;}
	19.87%{-moz-transform: translate(490px, 400px); opacity:0.6;}
	20.5%{-moz-transform: translate(490px, 400px); opacity:0;}
	to{opacity: 0;}
	}  
  
	@-moz-keyframes blownTankGround{
	from{opacity:0;}
	18%{-moz-transform: translate(20px, 800px); opacity:0;}
	18.01%{-moz-transform: translate(20px, 800px); opacity:1;}
	19%{-moz-transform: translate(20px, 450px); opacity:1;}
	25%{-moz-transform: translate(20px, 450px); opacity:1;}
	25.001%{-moz-transform: translate(20px, 450px); opacity:0;}
	to{opacity: 0;}
	}