
  
  @font-face {
      font-family: "Downcome";
      src: url("DOWNCOME.ttf");
    }
    
    body { 
	font-family: "Downcome", serif;
	background-color: #d2b86a;
	}
	
  h1 {
    -moz-animation-duration: 5s;
    -moz-animation-name: slidein;
	background-color: #101a1b;
	color: #fff;
	font-family: "Downcome", sans-serif;
	font-size: 800%;
	text-align: center;
	-moz-transform: translateY(160px);
  }  

  #explosion{
    position: absolute;
	-moz-animation-duration: 2s;
	-moz-animation-name: explosions;
	-moz-transform: scale(0);
	-moz-transform: translate(0px, 50px);
  }
    #leftSoldier{
	  position: absolute;
	  top: 750px;
	-moz-animation-duration: 10s;
    -moz-animation-name: leftSoldierRunGun;
	-moz-transform: translate(50px);
  }
     #abrams{
	   position: absolute;
	   top: 630px;
	-moz-animation-duration: 2s;
    -moz-animation-name: tankRoll;
	-moz-transform: translate(300px);
  }
  #smalltanks{
  position: absolute;
top: 780px;  
  	-moz-animation-duration: 5s;
    -moz-animation-name: SmallTanksRoll;
	-moz-transform: translate(800px);
  }
   #smoke{
   position:absolute;
   top: 650px;
   opacity: 0.7;
	-moz-transform: translate(50px);
	-moz-animation-name: SmokeFromTankBlast;
	-moz-animation-duration: 7s;
	-moz-transform: translate(100px, -500px);
   }
   
  #jets{
    position: absolute;
	-moz-animation-duration: 4s;
    -moz-animation-name: jetsFlyOverhead;
	-moz-transform: translate(1600px, -300px);
  }
  #buildings{
    position: absolute;
  top: 620px;
  -moz-animation-name: BackDrop;
  -moz-animation-duration: 2s;
  }
  
  #ground{
    position: absolute;
  width: 100%;
	top: 800px;
    -moz-animation-name: Ground;
	-moz-animation-duration: 10s;
  }

  
  @-moz-keyframes slidein {
    from {
      -moz-transform: translateY(-500px);
    }
    
    to {
      -moz-transform: translateY(160px);	
    }
  }
      @-moz-keyframes BackDrop {
	from{-moz-transform: translateX(-10px);}
	to{-moz-transform: translateX(0px);	}
  }
  
   @-moz-keyframes Ground {
	from{-moz-transform: translateX(0px);}
	to{-moz-transform: translateX(0px);	}
  }
    @-moz-keyframes leftSoldierRunGun {
		from{-moz-transform: translateX(0px);}
		15%{-moz-transform: translateX(150px);opacity: 100;}
		17%{-moz-transform: translateX(50px); -moz-transform: rotate(-90deg);opacity: 0;}
	to{-moz-transform: translateX(50px); opacity: 0;	}
  }
       @-moz-keyframes tankRoll {
	from{-moz-transform: translateX(1000px);}
	70%{-moz-transform: translateX(300px);	}
	75%{-moz-transform: translateX(340px);	}
	to{-moz-transform: translateX(300px);	}
  }
    @-moz-keyframes SmallTanksRoll {
	from{-moz-transform: translateX(1000px);}
	5%{-moz-transform: translateX(1000px);	}
	to{-moz-transform: translateX(400px);	}
  }
    @-moz-keyframes SmokeFromTankBlast {
	from{-moz-transform: translateX(100px); opacity: 0;}
	20%{-moz-transform: translateX(100px); opacity: 0;}
	25%{-moz-transform: translateX(200px); opacity: 1; -moz-transform: scale(2);}
	30%{-moz-transform: translateY(1000px); opacity: 0; -moz-transform: scale(15);}
	to{-moz-transform: translateY(-1000px); opacity: 0; -moz-transform: scale(0);}
  }
  

 
  
   @-moz-keyframes jetsFlyOverhead {

  }
  
     @-moz-keyframes explosions {

  }
  